.btn-active {
	background-color: rgba(237, 87, 35, 1)!important;
    border-radius: 30px!important;
    border: none!important;
    font-weight: 500!important;
    font-style: normal!important;
    font-size: 20px!important;
    color: #FFFFFF!important;
    width: 100%!important;
    height: 52px!important;
    margin-top: 32px!important;
}
.btn-active:hover {
	color: white!important;
}

.active-margin {
	margin-top:34.55px;
}

.error-class {
	color: #42f370;
    font-style: italic;
    background-color: #4c413c;
    margin-top: 10px!important;
}

.success-class {
	color: #ef9f0e;
	font-style: italic;
	background-color: #4c413c;
	margin-top:10px!important;
}
.limited-expire {
	font-size: 40px; 
	font-weight: 900; 
	line-height: 72px;
	font-family: Times New Roman;
}